.jumbotron
  .container
    %h1 Want to Learn About Sharks?
    %p Are you ready to learn about sharks?
    %br/
    %i.fas.fa-trash
    %p
      = button_to 'Get Shark Info', root_path, :method => :get,  :class => "btn btn-primary btn-lg"
.container
  .row
    .col-lg-6
      %h3 Not all sharks are alike
      %p
        Though some are dangerous, sharks generally do not attack humans. Out of the 500 species known to researchers, only 30 have been known to attack humans.
    .col-lg-6
      %h3 Sharks are ancient
      %p
        There is evidence to suggest that sharks lived up to 400 million years ago.